{% extends "base.html" %}

{% block content %}

    {% if error is defined %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <h3>Aircraft Directory</h3>
    This lists all current aircraft vessels registered with this airport.

    {% for i in range(num_vessels) %}
    <div>
        <h4><a href="{{ url_for('aircraft_directory.view', vessel_ID=vessel_IDs[i]) }}">{{ vessel_IDs[i] }}. {{ models[i] }} Airplane</a></h4>
    </div>
    {% endfor %}

    <p>
        <h3><a href="{{ url_for('aircraft_directory.create') }}">Add new aircraft</a></h3>
    </p>

{% endblock %}
