<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>IRS Airport</title>
    </head>

    <body>

        <style>
            .bottom-three {
               margin-bottom: 3cm;
            }
        </style>

        <header>
            {% include "_navigation.html" %}
        </header>
        <h1>International Reading-Stockholm Airport</h1>

        {% if error is defined %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </body>
</html>