{% extends "base.html" %}

{% block content %}
<style>
    .bottom-three {
       margin-bottom: 3cm;
    }
</style>

<p>
    <h4>{{ airline_name }}</h4>

    Airline ID: {{ airline_id }}<br>
    Locations based in: {{ locations_based_in }}<br>
    Phone: {{ phone_no }}<br>
    Email: {{ email }}<br>

</p>

<p>
    <a href="{{ url_for('airline_directory.edit', airline_ID=airline_ID) }}">Edit</a>
    <a href="{{ url_for('airline_directory.create', airline_ID=airline_ID) }}">Create New</a>
    <a href="{{ url_for('airline_directory.delete', airline_ID=airline_ID) }}">Delete</a>
    <br>
    <a href="{{ url_for('airline_directory.index') }}">Back to airline directory</a>
</p>
{% endblock content %}
